<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>card_information</title>

</head>
<body>
    <div class="wrap">
        <!-- 공통 헤더 Fragment 포함 -->
        <div th:replace="fragments/header :: header"></div>

        <div class="menu_container">
            <a href="/api/card">카드</a>
            <a href="/api/gameinfor">게임소개</a>
        </div>
        <div class="card_intro_bg">

            <div class="card_intro_text">
                <h1>카드목록</h1>
                <br><h3>어떤 카드가 당신의 운명을 바꿀까요?</h3>
            </div>
        </div>
        <div class="card_infor_bg">

            <div class="card_title">
                <h1><a href="" class="link1 active" data-direction="right">공격카드</a></h1>&emsp;
                <h1><a href="" class="link2" data-direction="left">특수카드</a></h1>
            </div>
            <script src="/js/scripts.js"></script>
            <script src="/js/aniScript.js"></script>
            <div class="attcard_section active">
                <ul class="card_infor">
                    <li><img src="/img/bloody thread.png" class="card"  data-zoom-src="/img/bloody thread.png"></li>
                    <li><img src="/img/dark.png" class="card"  data-zoom-src="/img/dark.png"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                </ul>
            </div>
            <div class="spcard_section">
                <ul class="card_infor">
                    <li><img src="/img/barrier.png" class="card"  data-zoom-src="/img/barrier.png"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                    <li class="card"></li>
                </ul>
            </div>
            <div class="modal" id="modal">
                <span class="close" id="close">&times;</span>
                <img id="modal-img" src="">
            </div>
        </div>
    </div>
</body>
</html>