<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>card_information</title>

</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="icon">
                <a href="main.html" class="menu"><img src="/src/main/resources/static/img/menu.png" alt="qwer"></a>
            </div>
            <div class="title">
                <a href="main.html">The Final Night</a>
            </div>
            <div class="icon">
                <a href="login.html" class="acc"><img src="/src/main/resources/static/img/acc.png" alt="qewr"></a>
            </div>
            <ul class="nav">
                <li><a href="gameinfor.html" class="dropbtn">게임소개</a></li>
                <li><a href="card.html" class="dropbtn">카드</a></li>
            </ul>
            <div class="account">
                <a href="login.html" id="loginBtn" class="loginbtn">로그인</a>
            </div>
        </div>
        <div class="menu_container">
            <a href="card.html">카드</a>
            <a href="gameinfor.html">게임소개</a>
        </div>
        <div class="game_intro_bg">
                
            <div class="game_intro_text">
                <h1>게임소개</h1>
                <br><h3>게임소개 페이지입니다</h3>
            </div>
        </div>
        <div class="game_infor_bg">

            <div class="game_infor_title">
                <h1><a href="" class="link1 active" data-direction="right">게임배경</a></h1>&emsp;
                <h1><a href="" class="link2" data-direction="left">게임방법</a></h1>
            </div>
            <script src="/js/scripts.js"></script>
            <div class="game_infor_text1 active">
                <h2>게임배경 소개 어쩌고 저쩌고...</h2>
            </div>
            <div class="game_infor_text2">
                <h2>게임방법 소개 어쩌고 저쩌고...</h2>
            </div>
        </div>
    </div>
    <script src="/js/aniScript.js"></script>
</body>
</html>