<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/style.css">
    <title>로그인</title>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="icon">
                <a href="Main.html" class="menu"><img src="/src/main/resources/static/img/menu.png" alt="qwer"></a>
            </div>
            <div class="title">
                <a href="Main.html">The Final Night</a>
            </div>
            <div class="icon">
                <a href="login.html" class="acc"><img src="/src/main/resources/static/img/acc.png" alt="qewr"></a>
            </div>
            <ul class="nav">
                <li><a href="gameinfor.html" class="dropbtn">게임소개</a></li>
                <li><a href="card.html" class="dropbtn">카드</a></li>
            </ul>
            <div class="account">
                <a href="login.html" id="loginBtn" class="loginbtn">로그인</a>
            </div>
        </div>
        <div class="menu_container">
            <a href="card.html">카드</a>
            <a href="gameinfor.html">게임소개</a>
        </div>
        <div class="register_bg">

            <div class="register-container">
                <h2>회원가입</h2>
                <form action="#" th:action="@{/api/register}" method="POST" th:object="${user}">
                    <input type="text" th:field="*{userId}" placeholder="아이디" required />
                    <input type="password" th:field="*{userPassword}" placeholder="비밀번호" required />
                    <button type="submit">회원가입</button>
                </form>
                <div th:if="${param.success}">
                    회원가입이 성공적으로 완료되었습니다!
                </div>
        </div>
    </div>
    </div>
    <script src="/src/main/resources/static/aniScript.js"></script>
</body>

</html>