<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>유저정보</title>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="icon">
                <a href="Main.html" class="menu"><img src="./img/menu.png" alt="qwer"></a>
            </div>
            <div class="title">
                <a href="Main.html">The Final Night</a>
            </div>
            <div class="icon">
                <a href="login.html" class="acc"><img src="./img/acc.png" alt="qewr"></a>
            </div>
            <ul class="nav">
                <li><a href="gameinfor.html" class="dropbtn">게임소개</a></li>
                <li><a href="card.html" class="dropbtn">카드</a></li>
            </ul>
            <div class="account">
                <a href="login.html" id="loginBtn" class="loginbtn">로그인</a>
            </div>
        </div>
        <div class="menu_container">
            <a href="card.html">카드</a>
            <a href="gameinfor.html">게임소개</a>
        </div>
        <div class="userinfor_bg">
            <div class="userinfor_container">
                <h2>유저정보</h2>
                <p>이름 : </p>
                <p>플레이 타임 : </p>
                <p>클리어 횟수 : </p>
            </div>
        </div>
    </div>
    </div>
    <script src="aniScript.js"></script>
</body>

</html>