<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>유저정보</title>
</head>

<body>
<div class="wrap">
    <!-- 공통 헤더 Fragment 포함 -->
    <div th:replace="fragments/header :: header"></div>

    <div class="userinfor_bg">
        <div class="userinfor_container">
            <h2>유저정보</h2>
            <p>닉네임 : <span th:text="${loggedInUser.nickname}">닉네임</span></p>
            <p>플레이 타임 : <span class="playtime" th:text="${gameData.playtime}">0</span></p>
            <p>클리어 횟수 : <span th:text="${gameData.clearCount}">0</span> 번</p>
        </div>
    </div>
</div>
<script src="/js/aniScript.js"></script>
<script src="/js/convertTime.js" defer></script>
</body>

</html>
